extends layout

block content
  h1= 'My Bookings'
  p Here you can see all your bookings
  .topnav
      .dropdown
          button.dropbtn
              | Home
              i.fa.fa-caret-down
          .dropdown-content
              a(href='/') Home
              a(href='#contact') Contact
              a(href='#about') About us    
      a(href='/room_List') Rooms
      a(href='/search_Results') Search
      a(href='/booking') Booking
      a(class='active', href='/my_Bookings') My Bookings
      a(href='/logout', onclick="return confirm('You are about to logout')") Logout
  .table
    table(class= 'w3-table-all w3-centered')
        thead
            tr
                th Booking ID
                th User ID
                th Room ID
                th Date
                th Starting
                th Ending
                th Modify
        tbody
            each booking, index in bookings
                   tr 
                        td #{booking.bookingID}
                        td #{booking.userID}
                        td #{booking.roomID}
                        td #{booking.date}
                        td #{booking.timeStart}
                        td #{booking.timeEnd}
                        td
                            form(action='/my_Bookings', method = 'POST')
                                br
                                label(for='bookingID')
                                select#bookingID(type='text', name='bookingID', required='')
                                    option #{booking.bookingID}                            
                                input(type='submit', onclick="return confirm('Your are about to cancel a booking')", value = "Cancel")
  form(action='/my_Bookings', method = 'POST')
    br
    label(for='bookingID') Booking ID:
    select#bookingID(type='text', name='bookingID', required='')
        each value in bookings
            option #{value.bookingID}
    input(type='submit', onclick="return confirm('Your are about to cancel a booking')", value = "Cancel") 